body{
    background:linear-gradient(pink,yellow);
    text-align: center;
}
h1{
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px grey;
     font-size: 30px;
}
#home{
    padding: 20px;
    font-size:18px;
    z-index: 15px;
}
.list {
    margin: 10px;
    z-index: 20px;
    float :left;
    list-style: none;
        
}
li{
  display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
        padding-left: 10px;
    padding-right: 10px;
}
li:hover{
    color: aqua;
}